@import "tailwindcss";
:root {
    --primary-font: 'Poppins', sans-serif;
    --seconds-font: 'Roboto',sans-serif;
    --my-padding:30px;
    --primary-color:#ecf3f6;
    --top-bar:calc(100% - 260px);
  }

@theme{
  --spacing-widthcontainer:var(--top-bar);
  --font-display:var(--primary-font);
  --font-seconds:var(--seconds-font);

}

@layer base{
  body{
    @apply  font-display ;
  }
  h1{
    @apply  font-semibold text-3xl;
  }
  h2{
    @apply  font-semibold text-2xl;
  }
  input,textarea,button,label{
    @apply  outline-none  ;
  }
  input{
    @apply focus:border-blue-400;
  }
  button{
    @apply  cursor-pointer 
  }


}
@layer components{
  @keyframes revealText {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-primary{
    @apply w-30 h-12 bg-blue-400 rounded-lg font-semibold  text-white
     hover:bg-blue-500 transition-colors duration-200
  }

  .btn-seconds{
    @apply w-22 h-8 bg-green-400 rounded-lg font-semibold  text-white
     hover:opacity-90 transition-colors duration-200
  }
}